.bg-warning {
  background-color: #fcc344 !important;
}

.bg-primary {
  background-color: #39bbbb !important;
}

.bg-success {
  background-color: #a4c663 !important;
}

.bg-danger {
  background-color: #fe6689 !important;
}

.bg-secondary {
  background-color: #929da7 !important;
}
